{
  // Use IntelliSense to learn about possible attributes.
  // Hover to view descriptions of existing attributes.
  // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
  "version": "0.2.0",
  "configurations": [
    {
      "name": "basic-agent",
      "type": "python",
      "request": "launch",
      "program": "flock_agent/main.py",
      "console": "internalConsole",
      "justMyCode": true,
      "env": {
        "OPENAI_API_KEY": "",
        "SERPAPI_API_KEY": "",
        "FLOCK_SCHEMA_PATH": "tests/agent_schema.json"
      },
      "args": ["run-agent"]
    },
    {
      "name": "advanced-agent",
      "type": "python",
      "request": "launch",
      "program": "flock_agent/main.py",
      "console": "internalConsole",
      "justMyCode": false,
      "env": {
        "OPENAI_API_KEY": "",
        "SERPAPI_API_KEY": "",
        "FLOCK_SCHEMA_PATH": "tests/advanced_agent.json",
        "WOLFRAM_ALPHA_APPID": ""
      },
      "args": ["run-agent"]
    },
    {
      "name": "Pytest",
      "type": "python",
      "request": "launch",
      "module": "pytest",
      "args": [
        "-s",
        "-vv",
        "-p",
        "no:cacheprovider",
        "${workspaceFolder}/tests"
      ],
      "cwd": "${workspaceFolder}",
      "console": "integratedTerminal"
    }
  ]
}
