
storage:
  dbPath: /data/db
  journal:
    enabled: true

systemLog:
  destination: file
  logAppend: true
  path: /data/db/mongodb.log

net:
  port: 27017
  bindIp: 0.0.0.0
  ssl:
    mode: requireSSL
    PEMKeyFile: /etc/mongo/ssl/mongodb.pem
    CAFile: /etc/mongo/ssl/mongodb-ca.pem

security:
  authorization: enabled
